* {
  margin: 0;
  padding: 0;
  image-rendering: -webkit-optimize-contrast; /*fix blurry downscaled images on chorme*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body{
  overflow: hidden;
}

.lds-roller {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  left: 49.5%;
  top: 48%;
  transform: translate(-50%, -50%);
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: slategrey;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.background {
  background: url(https://ik.imagekit.io/7ol7k87qcca/tr:w-4727,h-2605,cm-extract,x-0,y-53/Portfo/white_E__BC8BmFC3j.jpg) no-repeat center center fixed;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-animation: fadein 0.5s ease-out 1.5s forwards;
          animation: fadein 0.5s ease-out 1.5s forwards;
}

.lineleft {
  height: 1px;
  background: black;
  width: 60%;
  position: absolute;
  top: 47.4%;
  left: 10%;
  -webkit-animation: slideleft 2s ease;
          animation: slideleft 2s ease;
}

.lineright {
  height: 1px;
  background: black;
  width: 60%;
  position: absolute;
  bottom: 51%;
  right: 10%;
  -webkit-animation: slideright 2s ease;
          animation: slideright 2s ease;
}

.linebottom {
  border-left: 1px solid black;
  height: 60%;
  position: absolute;
  left: 49%;
  bottom: 10%;
  -webkit-animation: slideup 2s ease;
          animation: slideup 2s ease;
}

.lineup {
  border-left: 1px solid black;
  height: 60%;
  position: absolute;
  right: 50.2%;
  top: 10%;
  -webkit-animation: slidedown 2s ease;
          animation: slidedown 2s ease;
}

.my_name {
  color: slategrey;
  opacity: 0;
  position: absolute;
  left: 48%;
  top: 51.5%;
  -webkit-transform: translate(-100%, -100%);
      -ms-transform: translate(-100%, -100%);
          transform: translate(-100%, -100%);
  font-family: 'Mrs Saint Delafield', cursive;
  font-weight: lighter;
  font-size: 9vh;
  -webkit-animation: fadein 1s ease-out 2s forwards;
          animation: fadein 1s ease-out 2s forwards;
  cursor: default;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  -webkit-transform: translate(-100%, -100%);
      -ms-transform: translate(-100%, -100%);
          transform: translate(-100%, -100%);
  width: 1.04vw;
  height: 10vh;
  left: 49.5%;
  top: 30%;
  opacity: 0;
  -webkit-animation: fadein 3s ease-out 2s forwards;
          animation: fadein 3s ease-out 2s forwards;
}

.insta,
.git,
.linkedin {
  width: 100%;
  height: auto;
  -webkit-transition: ease 0.2s;
  -o-transition: ease 0.2s;
  transition: ease 0.2s;
}

.insta:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.git:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.linkedin:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.about {
  color: black;
  opacity: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 4.3vh;
  position: absolute;
  right: 49.7%;
  top: 47.5%;
  -webkit-transform: translate(100%, -100%);
      -ms-transform: translate(100%, -100%);
          transform: translate(100%, -100%);
  -webkit-animation: fadein 1s ease-out 2.5s forwards;
          animation: fadein 1s ease-out 2.5s forwards;
  cursor: default;
  -webkit-transition: .3s ease color;
  -o-transition: .3s ease color;
  transition: .3s ease color;
}

.abouttxt {
  opacity: 0;
  position: absolute;
  height: 33vh;
  width: 40vw;
  bottom: 99%;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.abouttxt p {
  position: absolute;
  left: 5vw;
  width: 35vw;
  height: 33vh;
  font-size: 1.1vw;
  color: black;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  overflow-y: auto;
}

.about:hover {
  color: slategrey;
}

.about:hover .abouttxt {
  opacity: 1;
}

.works {
  color: black;
  opacity: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 4.3vh;
  position: absolute;
  left: 48.5%;
  top: 54%;
  -webkit-transform: translate(-100%, -100%);
      -ms-transform: translate(-100%, -100%);
          transform: translate(-100%, -100%);
  -webkit-animation: fadein 1s ease-out 3s forwards;
          animation: fadein 1s ease-out 3s forwards;
  cursor: default;
  -webkit-transition: .3s ease color;
  -o-transition: .3s ease color;
  transition: .3s ease color;
}

.works:hover {
  color: slategrey;
}

.workscont {
  position: absolute;
  width: 47.5vw;
  height: 50vh;
  right: 0;
  top: 0%;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  padding: 5vh 0 0 9vw;
}

.workscont a:hover {
  text-decoration: underline;
}

.slideshow {
  height: 100%;
  width: 100%;
  display: flex;
}

.crosses {
  position: absolute;
  display: flex;
  top: -1%;
}

.cross {
  cursor: pointer;
  height: 1.55vh;
  width: 0.78vw;
  margin-right: 3px;
  background-color: black;
  border-radius: 10%;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.active, .cross:active {
  background-color: slategrey;
}

.prev, .next {
  text-decoration: none;
  position: absolute;
  cursor: pointer;
  width: auto;
  color: black;
  font-weight: bold;
  font-size: 1.3vw;
  padding: 1vw;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.prev, .next:hover {
  text-decoration: none !important;
}

.prev {
  margin-left: 5%;
}

.next {
  right: 5%;
}

.work {
  font-size: 1.1vw;
  width: 70%;
  color: black;
  margin: 25px auto;
  text-align: center;
}

.preview {
  width: 100%;
  border: 1px solid black;
  box-shadow: 0px 0px 8px rgba(0,0,0, 1);
  margin-top: 30px;
}

.show {
opacity: 1;
}

.codelink,
.pagelink {
  text-decoration: none;
  color: slategrey;
  font-size: 1.1vw;
  margin-left: 20px;
}

.works:hover .workscont {
  opacity: 1;
}

.contact {
  color: black;
  opacity: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 4.3vh;
  position: absolute;
  right: 49.8%;
  top: 54%;
  -webkit-transform: translate(100%, -100%);
      -ms-transform: translate(100%, -100%);
          transform: translate(100%, -100%);
  -webkit-animation: fadein 1s ease-out 3.5s forwards;
          animation: fadein 1s ease-out 3.5s forwards;
  cursor: default;
  -webkit-transition: .3s ease color;
  -o-transition: .3s ease color;
  transition: .3s ease color;
}

.mail {
  position: absolute;
  text-decoration: none;
  font-size: 1.1vw;
  color: black;
  font-style: italic;
  transition: 0.5s ease;
}

.mail:hover {
  color: slategrey;
}

.contact:hover {
  color: slategrey;
}

.cont {
  padding-top: 40%;
  padding-left: 30%;
  position: absolute;
  font-size: 1.5vw;
  color: black;
  width:47vw;
  height: 50vh;
  top: 0%;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact:hover .cont {
  opacity: 1;
}

.footer {
  position: absolute;
  bottom: 0;
  opacity: 0;
  -webkit-animation: fadein 1s ease-out 1s forwards;
          animation: fadein 1s ease-out 1s forwards;
}

/*device*/
.stop {
  display: none;
  position: absolute;
  bottom: 0%;
  height: 1px;
  background: black;
  width: 60%;
  left: 20%;
}

.backhomecont {
  display: none;
  position: absolute;
  top: 103vh;
  left: 3vh;
  height: 1900px;
  z-index: 1;
}

.backhome {
  display: none;
  position: sticky;
  position: -webkit-sticky;
  height: auto;
  width: 35px;
  left: 0;
  top: 3vh;
}

.homedevicecont {
  display: none;
  height: 100vh;
}

.aboutdevicecont {
  position: relative;
  display: none;
  height: auto;
}

.workdevicecont {
  position: relative;
  display: none;
  height: auto;
}

.contactdevicecont {
  position: relative;
  display: none;
  height: 600px;
}

.aboutdevice {
  display: none;
  text-decoration: none;
  color: black;
  opacity: 0;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  -webkit-animation: fadein 3s ease-out 2.5s forwards;
          animation: fadein 3s ease-out 2.5s forwards;
}

.abouttxtdevice {
  display: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  text-align: justify;
  color: black;
  border: 1px solid slategrey;
  border-radius: 8px;
  padding: 10px;
  font-size: 21px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.worksdevice {
  display: none;
  text-decoration: none;
  color: black;
  opacity: 0;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  -webkit-animation: fadein 3s ease-out 3s forwards;
          animation: fadein 3s ease-out 3s forwards;
}

.workdevice {
  margin-top: 60px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  border: 1px solid slategrey;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.workdevice a {
  color: slategrey;
  margin-left: 10px;
}


.contactdevice {
  display: none;
  text-decoration: none;
  color: black;
  opacity: 0;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  -webkit-animation: fadein 3s ease-out 3.5s forwards;
          animation: fadein 3s ease-out 3.5s forwards;
}

.maildevice {
  display: none;
  font-style: italic;
  color: slategrey;
}

@-webkit-keyframes slideleft {
  0%{
    -webkit-transform: translateX(-1300px);
            transform: translateX(-1300px);
  }
}

@keyframes slideleft {
  0%{
    -webkit-transform: translateX(-1300px);
            transform: translateX(-1300px);
  }
}

@-webkit-keyframes slideright {
  0%{
    -webkit-transform: translateX(1300px);
            transform: translateX(1300px);
  }
}

@keyframes slideright {
  0%{
    -webkit-transform: translateX(1300px);
            transform: translateX(1300px);
  }
}

@-webkit-keyframes slideup {
  0%{
    -webkit-transform: translateY(700px);
            transform: translateY(700px);
  }
}

@keyframes slideup {
  0%{
    -webkit-transform: translateY(700px);
            transform: translateY(700px);
  }
}

@-webkit-keyframes slidedown {
  0%{
    -webkit-transform: translateY(-700px);
            transform: translateY(-700px);
  }
}

@keyframes slidedown {
  0%{
    -webkit-transform: translateY(-700px);
            transform: translateY(-700px);
  }
}

@-webkit-keyframes fadein {
  100%{
    opacity: 1;
  }
}

@keyframes fadein {
  100%{
    opacity: 1;
  }
}

/*tablet*/
@media screen and (max-width: 1024px) {


  @-webkit-keyframes slideleft {
    0%{
      -webkit-transform: translateX(-600px);
              transform: translateX(-600px);
    }
  }


  @keyframes slideleft {
    0%{
      -webkit-transform: translateX(-600px);
              transform: translateX(-600px);
    }
  }

  @-webkit-keyframes slideright {
    0%{
      -webkit-transform: translateX(600px);
              transform: translateX(600px);
    }
  }

  @keyframes slideright {
    0%{
      -webkit-transform: translateX(600px);
              transform: translateX(600px);
    }
  }

  html, body {
    overflow-x: auto;
  }

  .background {
    display: none;
  }

   .wrap {
    display: block;
    background: url(https://ik.imagekit.io/7ol7k87qcca/white_E__BC8BmFC3j.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-animation: fadein 0.5s ease-out 1.5s forwards;
            animation: fadein 0.5s ease-out 1.5s forwards;
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch;
  }


    .lineleft {
      top: 47.7%;
      left: 10%;
    }

    .lineright {
      bottom: 51%;
      right: 10%;
    }

    .linebottom {
      left: 49.5%;
      bottom: 10%;
    }

    .lineup {
      right: 49%;
      top: 10%;
    }

    .homedevicecont {
      display: block;
    }

    .socials {
      left: 50.5%;
      top: 30%;
      width: 20px;
    }

    .my_name {
      position: absolute;
      left: 47%;
      top: 51.5%;
      font-size: 10vw;
    }

    .about {
      display: none;
    }

    .aboutdevice {
      display: block;
      font-size: 7vw;
      left: 62%;
      top: 25%;
    }

    .aboutdevicecont {
      display: block;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 100px 20vw 100px;
    }

    .abouttxtdevice {
      display: block;
      width: 100%;
    }

    .works {
      display: none;
    }

    .worksdevice {
      display: block;
      font-size: 7vw;
      left: 15%;
      bottom: 25%;
    }

    .workdevicecont {
      display: block;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0 20vw 50px;
      text-align: center;
    }

    .contact {
      display: none;
    }

    .maildevice {
      display: block;
      font-size: 23px;
    }

    .contactdevice {
      display: block;
      font-size: 7vw;
      left: 59%;
      bottom: 25%;
    }

    .contactdevicecont {
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
           -ms-flex-direction: column;
               flex-direction: column;
               align-items: center;
               justify-content: center;
               font-size: 30px;
               padding: 0 20vw;
     }

     .wrapmail {
       width: 100%;
       font-family: 'Montserrat', sans-serif;
       text-align: center;
       border: 1px solid slategrey;
       border-radius: 8px;
       background: rgba(255, 255, 255, 0.3);
       backdrop-filter: blur(10px);
       -webkit-backdrop-filter: blur(10px);
       padding: 10px;
     }

    .backhomecont {
      display: block;
    }

    .backhome {
      display: block;
    }

    .stop {
      display: block;
    }

    .footer {
      position: relative;
      width: 100%;
      text-align: center;
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
    }

  }

/*smartphone*/
@media screen and (max-width: 500px) {


@-webkit-keyframes slideup {
  0%{
    -webkit-transform: translateY(10vh);
            transform: translateY(10vh);
  }
}


@keyframes slideup {
  0%{
    -webkit-transform: translateY(10vh);
            transform: translateY(10vh);
  }
}

@-webkit-keyframes slidedown {
  0%{
    -webkit-transform: translateY(-10vh);
            transform: translateY(-10vh);
  }
}

@keyframes slidedown {
  0%{
    -webkit-transform: translateY(-10vh);
            transform: translateY(-10vh);
  }
}

  @-webkit-keyframes slideleft {
    0%{
      -webkit-transform: translateX(-10vw);
              transform: translateX(-10vw);
    }
  }

  @keyframes slideleft {
    0%{
      -webkit-transform: translateX(-10vw);
              transform: translateX(-10vw);
    }
  }

  @-webkit-keyframes slideright {
    0%{
      -webkit-transform: translateX(10vw);
              transform: translateX(10vw);
    }
  }

  @keyframes slideright {
    0%{
      -webkit-transform: translateX(10vw);
              transform: translateX(10vw);
    }
  }

     .wrap {
      display: block;
      background: url(https://ik.imagekit.io/7ol7k87qcca/white2_i5_GY7o3OgkpK.jpg) no-repeat center center fixed;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      -webkit-animation: fadein 0.5s ease-out 1.5s forwards;
              animation: fadein 0.5s ease-out 1.5s forwards;
      overflow-y: scroll !important;
      -webkit-overflow-scrolling: touch;
    }

    .lineleft {
      top: 48%;
    }

    .lineright {
        bottom: 51%;
      }

    .linebottom {
        left: 49%;
      }

    .lineup {
        right: 49%;
      }

    .my_name {
      line-height: 55px;
      position: absolute;
      left: 56%;
      top: 48%;
      font-size: 16vw;
      -webkit-animation: fadein 1s ease-out 2s forwards;
              animation: fadein 1s ease-out 2s forwards;
    }

    .aboutdevice {
      display: block;
      font-size: 11vw;
      left: 57%;
      top: 35%;
      -webkit-animation: fadein 1s ease-out 2.5s forwards;
              animation: fadein 1s ease-out 2.5s forwards;
    }

    .aboutdevicecont {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
              padding: 60px 30px;
    }

    .abouttxtdevice {
      display: block;
      width: 100%;
    }

    .worksdevice {
      display: block;
      font-size: 11vw;
      left: 10%;
      bottom: 35%;
      -webkit-animation: fadein 1s ease-out 3s forwards;
              animation: fadein 1s ease-out 3s forwards;
    }

    .workdevicecont {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0 30px 30px;
      text-align: center;
    }

    .maildevice {
      display: block;
      font-size: 20px;
    }

    .contactdevice {
      display: block;
      font-size: 11vw;
      left: 54%;
      bottom: 35%;
      -webkit-animation: fadein 1s ease-out 3.5s forwards;
              animation: fadein 1s ease-out 3.5s forwards;
    }

   .contactdevicecont {
      padding: 0 30px;
    }

}
