* {
  margin: 0;
  padding: 0;
  image-rendering: -webkit-optimize-contrast;
}

html, body{
  overflow: hidden;
}

.background {
  background: url(https://ik.imagekit.io/7ol7k87qcca/white_E__BC8BmFC3j.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

.text {
  color: black;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: 'Mrs Saint Delafield', cursive;
  font-weight: lighter;
  font-size: 9vh;
}

.backhome2 {
  width: 40px;
  height: auto;
  position: absolute;
  margin-top: 5vh;
}

@media screen and (max-width: 1024px) {


 .text {
   font-size: 6vw;
  }
}

@media screen and (max-width: 500px) {

  .text {
    top: -15%;
  }

  .thankyou {
    font-size: 40px;
    width: 200px;
  }

  .backhome2 {
    margin-top: 8vh;
  }

  .background {
     background: url(https://ik.imagekit.io/7ol7k87qcca/white2_i5_GY7o3OgkpK.jpg) no-repeat center center fixed;
     background-size: cover;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
    }

}
