* {
  margin: 0;
  padding: 0;
}

html, body{
  overflow-y: hidden;
}

.background {
  background: url(images/white.jpg) no-repeat center center fixed;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  animation: fadein 2s ease-out 0.5s forwards;
}

.lineleft {
  height: 1px;
  background: black;
  width: 60%;
  position: absolute;
  top: 47.4%;
  left: 10%;
  animation: slideleft 2s ease;
}

.lineright {
  height: 1px;
  background: black;
  width: 60%;
  position: fixed;
  bottom: 51%;
  right: 10%;
  animation: slideright 2s ease;
}

.linebottom {
  border-left: 1px solid black;
  height: 60%;
  position: absolute;
  left: 49%;
  bottom: 10%;
  animation: slideup 2s ease;
}

.lineup {
  border-left: 1px solid black;
  height: 60%;
  position: absolute;
  right: 50.2%;
  top: 10%;
  animation: slidedown 2s ease;
}

.my_name {
  color: slategrey;
  opacity: 0;
  position: absolute;
  left: 48%;
  top: 51.5%;
  transform: translate(-100%, -100%);
  font-family: 'Mrs Saint Delafield', cursive;
  font-weight: lighter;
  font-size: 9vh;
  animation: fadein 3s ease-out 2s forwards;
  cursor: default;
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  transform: translate(-100%, -100%);
  width: 30px;
  height: 20vh;
  left: 49.5%;
  top: 30%;
  opacity: 0;
  animation: fadein 3s ease-out 2s forwards;
}

.insta,
.git,
.linkedin {
  width: 100%;
  height: auto;
  transition: ease 0.5s;
}

.insta:hover {
  transform: scale(1.2);
}

.git:hover {
  transform: scale(1.2);
}

.linkedin:hover {
  transform: scale(1.2);
}

.about {
  color: black;
  opacity: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 4.3vh;
  position: absolute;
  right: 49.7%;
  top: 47.5%;
  transform: translate(100%, -100%);
  animation: fadein 3s ease-out 2.5s forwards;
  cursor: default;
  transition: .3s ease color;
}

.aboutdevice,
.aboutdevice a {
  display: none;
  text-decoration: none;
  color: black;
  opacity: 0;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  animation: fadein 3s ease-out 2.5s forwards;
}

.abouttxt {
  opacity: 0;
  position: absolute;
  height: 33vh;
  width: 40vw;
  bottom: 99%;
  transition: 0.5s ease;
}

.abouttxt p {
  position: absolute;
  left: 5vw;
  width: 35vw;
  height: 33vh;
  font-size: 20px;
  color: black;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  overflow-y: auto;
}

.abouttxtdevice {
  display: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  text-align: justify;
  color: black;
  font-size: 21px;
  background: rgba(255, 255, 255, 0.8);
}

.about:hover {
  color: slategrey;
}

.about:hover .abouttxt {
  opacity: 1;
}

.works {
  color: black;
  opacity: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 4.3vh;
  position: absolute;
  left: 48.5%;
  top: 54%;
  transform: translate(-100%, -100%);
  animation: fadein 3s ease-out 3s forwards;
  cursor: default;
  transition: .3s ease color;
}

.worksdevice,
.worksdevice a {
  display: none;
  text-decoration: none;
  color: black;
  opacity: 0;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  animation: fadein 3s ease-out 3s forwards;
}

.works:hover {
  color: slategrey;
}

.workscont {
  position: absolute;
  width: 48vw;
  height: 50vh;
  right: 0;
  top: 0%;
  opacity: 0;
  transition: 0.5s ease;
}

.scrollmenu {
  position: absolute;
  top: 15%;
  left: 20%;
  height: 34vh;
  width: 38vw;
  /*background: rgba(255, 255, 255, 0.8);
  overflow-y: auto; these two for when you'll add more projects. */
}

.info {
  display: none;
  font-style: italic;
  text-align: center;
  margin: 0 auto;
}

.work1 a {
  text-decoration: none;
  font-size: 23px;
  color: black;
}

.work1device {
  margin-top: 60px;
  border: 1px solid slategrey;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.8);
}

.work1device a {
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
}

.workscont a:hover {
  text-decoration: underline;
}

.works:hover .workscont {
  opacity: 1;
}

.contact {
  color: black;
  opacity: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 4.3vh;
  position: absolute;
  right: 49.8%;
  top: 54%;
  transform: translate(100%, -100%);
  animation: fadein 3s ease-out 3.5s forwards;
  cursor: default;
  transition: .3s ease color;
}

.mail {
  font-size: 20px;
  color: black;
  font-style: italic;
  position: absolute;
  top: 40%;
  left: 100%;
  margin-left: 20%;
  opacity: 0;
  transition: 0.5s ease;
}

.maildevice {
  display: none;
  font-style: italic;
  text-align: center;
  width: 60vw;
  margin: 0 auto;
}


.contactdevice,
.contactdevice a {
  display: none;
  text-decoration: none;
  color: black;
  opacity: 0;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  animation: fadein 3s ease-out 3.5s forwards;
}

.contact:hover {
  color: slategrey;
}

.contact:hover .mail {
  opacity: 1;
}

.contact form {
  padding-top: 40%;
  padding-left: 30%;
  position: absolute;
  color: black;
  width:47vw;
  height: 44vh;
  top: 0%;
  opacity: 0;
  transition: 0.5s ease;
  overflow-y: auto;
}

.formgroup {
  font-size: 30px;
  width: 70%;
  margin-bottom: 1%;
}

.formgroup input{
  width: 60%;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid slategrey;
  font-size: 20px;
  border-radius: 5px;
}

.formgroup textarea {
  width: 100%;
  height: 15vh;
  background: rgba(255, 255, 255, 0.8);
  font-family: 'Montserrat', sans-serif;
  border: 1px solid slategrey;
  font-size: 20px;
  border-radius: 5px;
  }

.button {
  color: black;
  background: white;
  font-size: 20px;
  width: 20%;
  border: 1px solid slategrey;
  border-radius: 5px;
  transition: .3s ease color;
  cursor: pointer;
  opacity: 0.8;
}

.button:hover {
  color: white;
  background: slategrey;
  opacity: 1;
}

.contact:hover form {
  opacity: 1;
}

.formgroupdevice {
  font-family: 'Montserrat', sans-serif;
}

.formgroupdevice input{
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid slategrey;
  color: black;
  border-radius: 5px;
}

.formgroupdevice textarea {
  background: rgba(255, 255, 255, 0.8);
  color: black;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid slategrey;
  border-radius: 5px;
}

.buttondevice {
  color: black;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid slategrey;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  cursor: pointer;
}

.homedevicecont {
  height: 100vh;
  display: none;
}

.aboutdevicecont {
  display: none;
  position: absolute;
  top: 100vh;
}

.workdevicecont {
  display: none;
  position: absolute;
  top: 200vh;
}

.contactdevicecont {
  display: none;
  position: absolute;
  top: 300vh;
  height: 100vh;
}

.backhome {
  position: absolute;
  height: 35px;
  width: auto;
  left: 5vw;
  top: 3vh;
}

.stop1 {
  display: none;
  height: 1px;
  background: black;
  width: 60%;
  position: absolute;
  left: 20%;
  top: 100vh;
}

.stop2 {
  display: none;
  height: 1px;
  background: black;
  width: 60%;
  position: absolute;
  left: 20%;
  top: 200vh;
}

.stop3 {
  display: none;
  height: 1px;
  background: black;
  width: 60%;
  position: absolute;
  left: 20%;
  top: 300vh;
}

@keyframes slideleft {
  0%{
    transform: translateX(-1300px);
  }
}

@keyframes slideright {
  0%{
    transform: translateX(1300px);
  }
}

@keyframes slideup {
  0%{
    transform: translateY(700px);
  }
}

@keyframes slidedown {
  0%{
    transform: translateY(-700px);
  }
}

@keyframes fadein {
  100%{
    opacity: 1;
  }
}

/*tablet*/
@media screen and (max-width: 1024px) {


  @keyframes slideleft {
    0%{
      transform: translateX(-600px);
    }
  }

  @keyframes slideright {
    0%{
      transform: translateX(600px);
    }
  }

    .background {
        display: none;
    }

    .cont {
      width: 100vw;
      height: 100vh;
      background: url(images/white.jpg) no-repeat center center fixed;
      background-size: cover;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      animation: fadein 2s ease-out 0.5s forwards;
      overflow-y: auto;
    }

    .lineleft {
      position: absolute;
      top: 47.7%;
      left: 10%;
    }

    .lineright {
      position: absolute;
      bottom: 51%;
      right: 10%;
    }

    .linebottom {
      position: absolute;
      left: 49.5%;
      bottom: 10%;
    }

    .lineup {
      position: absolute;
      right: 49%;
      top: 10%;
    }

    .homedevicecont {
      display: block;
    }

    .socials {
      left: 50.5%;
      top: 30%;
      width: 20px;
    }

    .my_name {
      position: absolute;
      left: 47%;
      top: 51.5%;
      font-size: 10vw;
    }

    .about {
      display: none;
    }

    .aboutdevice,
    .aboutdevice a {
      display: block;
      font-size: 7vw;
      left: 62%;
      top: 25%;
    }

    .aboutdevicecont {
      display: block;
      display: flex;
      flex-direction: column;
      padding: 60px 20vw;
    }

    .abouttxtdevice {
      display: block;
      width: 100%;
    }

    .works {
      display: none;
    }

    .worksdevice,
    .worksdevice a {
      display: block;
      font-size: 7vw;
      left: 15%;
      bottom: 25%;
    }

    .workdevicecont {
      display: block;
      display: flex;
      flex-direction: column;
      padding: 0 20vw;
      text-align: center;
    }

    .info {
      display: block;
      font-size: 28px;
      width: 60vw;
    }

    .work1device a {
      width: 100%;
    }

    .contact {
      display: none;
    }

    .maildevice {
      display: block;
      font-size: 28px;
    }

    .contactdevice,
    .contactdevice a {
      display: block;
      font-size: 7vw;
      left: 59%;
      bottom: 25%;
    }

    .contactdevicecont {
       display: flex;
       flex-direction: column;
       padding: 30px 20vw;
     }

     .contactdevicecont form {
       text-align: center;
     }

     .formgroupdevice {
       font-size: 30px;
       margin-bottom: 20px;
       margin-top: 25px;
       text-align: center;
     }

     .formgroupdevice input{
       width: 100%;
       height: 40px;
       font-size: 25px;
       overflow: visible;
     }

     .formgroupdevice textarea {
       width: 100%;
       height: 250px;
       font-size: 25px;
       overflow: visible;
       resize: none;
     }

    .buttondevice {
      font-size: 25px;
      width: 40vw;
      height:40px;
    }

    .buttondevice:active {
      color: white;
      background: slategrey;
    }

    .stop1 {
      display: block;
    }

    .stop2 {
      display: block;
    }

    .stop3 {
      display: block;
    }

  }

/*smartphone*/
@media screen and (max-width: 500px) {


@keyframes slideup {
  0%{
    transform: translateY(10vh);
  }
}

@keyframes slidedown {
  0%{
    transform: translateY(-10vh);
  }
}

  @keyframes slideleft {
    0%{
      transform: translateX(-10vw);
    }
  }

  @keyframes slideright {
    0%{
      transform: translateX(10vw);
    }
  }
    .cont {
      background: url(images/white2.jpg) no-repeat center center fixed;
      background-size: cover;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      animation: fadein 2s ease-out 0.5s forwards;
      overflow-y: auto;
    }


     .background {
      display: none;
    }

    .lineleft {
      position: absolute;
      top: 48%;
    }

    .lineright {
        position: absolute;
        bottom: 51%;
      }

    .linebottom {
        position: absolute;
        left: 49%;
      }

    .lineup {
        position: absolute;
        right: 49%;
      }

    .my_name {
      line-height: 55px;
      position: absolute;
      left: 56%;
      top: 48%;
      font-size: 16vw;
    }

    .socials {
      left: 50.5%;
      top: 30%;
      width: 25px;
    }

    .about {
      display: none;
    }

    .aboutdevice,
    .aboutdevice a {
      display: block;
      font-size: 11vw;
      left: 57%;
      top: 35%;
    }

    .aboutdevicecont {
      display: flex;
      flex-direction: column;
      padding: 80px 30px;
    }

    .abouttxtdevice {
      display: block;
      width: 100%;
    }

    .works {
      display: none;
    }

    .worksdevice,
    .worksdevice a {
      display: block;
      font-size: 11vw;
      left: 10%;
      bottom: 35%;
    }

    .workdevicecont {
      display: flex;
      flex-direction: column;
      padding: 0 30px;
      text-align: center;
    }

    .info {
      display: block;
      font-size: 18px;
      width: 60vw;
    }

    .work1device a {
      width: 100%;
    }

    .contact {
      display: none;
    }

    .maildevice {
        display: block;
        font-size: 18px;
    }

    .contactdevice,
    .contactdevice a {
      display: block;
      font-size: 11vw;
      left: 54%;
      bottom: 35%;
    }

   .contactdevicecont {
      display: flex;
      flex-direction: column;
      padding: 20px 30px;
    }

    .contactdevicecont form {
      text-align: center;
    }

    .formgroupdevice {
      font-size: 30px;
      margin-bottom: 20px;
      margin-top: 25px;
      text-align: center;
    }

    .formgroupdevice input{
      width: 100%;
      height: 40px;
      font-size: 25px;
      overflow: visible;
    }

    .formgroupdevice textarea {
      width: 100%;
      height: 250px;
      font-size: 25px;
      overflow: visible;
      resize: none;
    }

    .buttondevice {
      font-size: 25px;
      width: 40vw;
      height: 40px;
    }

}
