

.background {
  background: no-repeat center center fixed;
  background-size: cover;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.thanks {
  color: slategrey;
  position: absolute;
  left: 20%;
  top: 30%;
  font-family: 'Mrs Saint Delafield', cursive;
  font-weight: lighter;
  font-size: 9vh;
}

@media screen and (max-width: 800px) {

 .thanks {
  left: 0;
  top: 0;
  padding: 10vh 15vw;
  }
}

@media screen and (max-width: 500px) {

  .thanks {
    padding: 10vh 5vw;
    font-size: 8vh;
  }
}
