* {
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: slategrey transparent;
  scrollbar-radius: 20px;
  image-rendering: -webkit-optimize-contrast; /*fix blurry downscaled images on chorme*/
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: slategrey;
  border-radius: 20px;
}

html, body{
  overflow: hidden;
}

.background {
  background: url(https://ik.imagekit.io/7ol7k87qcca/white_E__BC8BmFC3j.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fadein 2s ease-out 0.5s forwards;
}

.lineleft {
  height: 1px;
  background: black;
  width: 60%;
  position: absolute;
  top: 47.4%;
  left: 10%;
  animation: slideleft 2s ease;
}

.lineright {
  height: 1px;
  background: black;
  width: 60%;
  position: absolute;
  bottom: 51%;
  right: 10%;
  animation: slideright 2s ease;
}

.linebottom {
  border-left: 1px solid black;
  height: 60%;
  position: absolute;
  left: 49%;
  bottom: 10%;
  animation: slideup 2s ease;
}

.lineup {
  border-left: 1px solid black;
  height: 60%;
  position: absolute;
  right: 50.2%;
  top: 10%;
  animation: slidedown 2s ease;
}

.my_name {
  color: slategrey;
  opacity: 0;
  position: absolute;
  left: 48%;
  top: 51.5%;
  transform: translate(-100%, -100%);
  font-family: 'Mrs Saint Delafield', cursive;
  font-weight: lighter;
  font-size: 9vh;
  animation: fadein 3s ease-out 2s forwards;
  cursor: default;
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  transform: translate(-100%, -100%);
  width: 20px;
  height: 20vh;
  left: 49.5%;
  top: 30%;
  opacity: 0;
  animation: fadein 3s ease-out 2s forwards;
}

.insta,
.git,
.linkedin {
  width: 100%;
  height: auto;
  transition: ease 0.2s;
}

.insta:hover {
  transform: scale(1.2);
}

.git:hover {
  transform: scale(1.2);
}

.linkedin:hover {
  transform: scale(1.2);
}

.about {
  color: black;
  opacity: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 4.3vh;
  position: absolute;
  right: 49.7%;
  top: 47.5%;
  transform: translate(100%, -100%);
  animation: fadein 3s ease-out 2.5s forwards;
  cursor: default;
  transition: .3s ease color;
}

.aboutdevice,
.aboutdevice a {
  display: none;
  text-decoration: none;
  color: black;
  opacity: 0;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  animation: fadein 3s ease-out 2.5s forwards;
}

.abouttxt {
  opacity: 0;
  position: absolute;
  height: 33vh;
  width: 40vw;
  bottom: 99%;
  transition: 0.5s ease;
}

.abouttxt p {
  position: absolute;
  left: 5vw;
  width: 35vw;
  height: 33vh;
  font-size: 20px;
  color: black;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  overflow-y: auto;
}

.abouttxtdevice {
  display: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  text-align: justify;
  color: black;
  font-size: 21px;
  background: rgba(255, 255, 255, 0.8);
}

.about:hover {
  color: slategrey;
}

.about:hover .abouttxt {
  opacity: 1;
}

.works {
  color: black;
  opacity: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 4.3vh;
  position: absolute;
  left: 48.5%;
  top: 54%;
  transform: translate(-100%, -100%);
  animation: fadein 3s ease-out 3s forwards;
  cursor: default;
  transition: .3s ease color;
}

.worksdevice,
.worksdevice a {
  display: none;
  text-decoration: none;
  color: black;
  opacity: 0;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  animation: fadein 3s ease-out 3s forwards;
}

.works:hover {
  color: slategrey;
}

.workscont {
  position: absolute;
  width: 48vw;
  height: 50vh;
  right: 0;
  top: 0%;
  opacity: 0;
  transition: 0.5s ease;
  padding: 5vh 0 25vh 9vw;
}

.slideshow {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.crosses {
  display: flex;
  justify-content: center;
}

.cross {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: black;
  border-radius: 10%;
  transition: background-color 0.6s ease;
}

.active, .cross:active {
  background-color: slategrey;
}

.prev, .next {
  text-decoration: none;
  position: absolute;
  cursor: pointer;
  width: auto;
  color: black;
  font-weight: bold;
  font-size: 25px;
  padding: 20px;
  user-select: none;
}

.prev, .next:hover {
  text-decoration: none !important;
}

.prev {
  margin-left: 5%;
}

.next {
  right: 5%;
}

.work {
  font-size: 23px;
  width: 60%;
  color: black;
  margin: 0 auto;
  text-align: center;
}

.work a{
  text-decoration: none;
  color: slategrey;
  font-size: 23px;
  margin-left: 20px;
}

.info {
  display: none;
  font-style: italic;
  text-align: center;
  margin: 0 auto;
}

.work1device {
  margin-top: 60px;
  border: 1px solid slategrey;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.8);
}

.work1device a {
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
}

.workscont a:hover {
  text-decoration: underline;
}

.works:hover .workscont {
  opacity: 1;
}

.contact {
  color: black;
  opacity: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 4.3vh;
  position: absolute;
  right: 49.8%;
  top: 54%;
  transform: translate(100%, -100%);
  animation: fadein 3s ease-out 3.5s forwards;
  cursor: default;
  transition: .3s ease color;
}

.mail {
  font-size: 20px;
  color: black;
  font-style: italic;
  position: absolute;
  top: 40%;
  left: 100%;
  margin-left: 20%;
  opacity: 0;
  transition: 0.5s ease;
}

.maildevice {
  display: none;
  font-style: italic;
  text-align: center;
  width: 60vw;
  margin: 0 auto;
}


.contactdevice,
.contactdevice a {
  display: none;
  text-decoration: none;
  color: black;
  opacity: 0;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  animation: fadein 3s ease-out 3.5s forwards;
}

.contact:hover {
  color: slategrey;
}

.contact:hover .mail {
  opacity: 1;
}

.contact form {
  padding-top: 40%;
  padding-left: 30%;
  padding-right: 70%;
  position: absolute;
  color: black;
  width:47vw;
  height: 44vh;
  top: 0%;
  opacity: 0;
  transition: 0.5s ease;
  overflow-y: auto;
  box-sizing: border-box;
}

.formgroup {
  font-size: 20px;
  width: 70%;
  margin-bottom: 1%;
}

.formgroup input{
  width: 100%;
  background: white;
  border: 1px solid slategrey;
  font-size: 20px;
  border-radius: 5px;
}

.formgroup textarea {
  width: 100%;
  height: 15vh;
  background: white;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid slategrey;
  font-size: 20px;
  border-radius: 5px;
  resize: none;
  }

.button {
  color: black;
  background: white;
  font-size: 20px;
  width: 20%;
  border: 1px solid slategrey;
  border-radius: 5px;
  transition: .3s ease color;
  cursor: pointer;
}

.button:hover {
  color: white;
  background: slategrey;
  opacity: 1;
}

.contact:hover form {
  opacity: 1;
}

.formgroupdevice {
  font-family: 'Montserrat', sans-serif;
}

.formgroupdevice input{
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid slategrey;
  color: black;
  border-radius: 5px;
}

.formgroupdevice textarea {
  background: rgba(255, 255, 255, 0.8);
  color: black;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid slategrey;
  border-radius: 5px;
}

.buttondevice {
  color: black;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid slategrey;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  cursor: pointer;
}

.homedevicecont {
  display: none;
  height: 100vh;
}

.aboutdevicecont {
  position: relative;
  display: none;
  height: 667px;
}

.workdevicecont {
  position: relative;
  display: none;
  height: 667px;
}

.contactdevicecont {
  position: relative;
  display: none;
  height: 667px;
}

.backhomecont {
  display: none;
  position: absolute;
  top: 103vh;
  left: 3vh;
  height: 2120px;
  z-index: 1;
}

.backhome {
  display: none;
  position: sticky;
  position: -webkit-sticky;
  height: auto;
  width: 35px;
  left: 0;
  top: 3vh;
}

.stop {
  display: none;
  position: absolute;
  bottom: 0%;
  height: 1px;
  background: black;
  width: 60%;
  left: 20%;
}

@keyframes slideleft {
  0%{
    transform: translateX(-1300px);
  }
}

@keyframes slideright {
  0%{
    transform: translateX(1300px);
  }
}

@keyframes slideup {
  0%{
    transform: translateY(700px);
  }
}

@keyframes slidedown {
  0%{
    transform: translateY(-700px);
  }
}

@keyframes fadein {
  100%{
    opacity: 1;
  }
}

/*1440p*/
@media screen and (min-width: 2560px){
  .socials{
    width: 30px;
  }
}

/*tablet*/
@media screen and (max-width: 1024px) {


  @keyframes slideleft {
    0%{
      transform: translateX(-600px);
    }
  }

  @keyframes slideright {
    0%{
      transform: translateX(600px);
    }
  }

  html, body {
    overflow-x: auto;
  }

  .background {
    display: none;
  }

   .wrap {
    display: block;
    background: url(https://ik.imagekit.io/7ol7k87qcca/white_E__BC8BmFC3j.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fadein 2s ease-out 0.5s forwards;
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch;
  }


    .lineleft {
      top: 47.7%;
      left: 10%;
    }

    .lineright {
      bottom: 51%;
      right: 10%;
    }

    .linebottom {
      left: 49.5%;
      bottom: 10%;
    }

    .lineup {
      right: 49%;
      top: 10%;
    }

    .homedevicecont {
      display: block;
    }

    .socials {
      left: 50.5%;
      top: 30%;
      width: 20px;
    }

    .my_name {
      position: absolute;
      left: 47%;
      top: 51.5%;
      font-size: 10vw;
    }

    .about {
      display: none;
    }

    .aboutdevice,
    .aboutdevice a {
      display: block;
      font-size: 7vw;
      left: 62%;
      top: 25%;
    }

    .aboutdevicecont {
      display: block;
      display: flex;
      flex-direction: column;
      padding: 0 20vw 0;
    }

    .abouttxtdevice {
      display: block;
      width: 100%;
      margin-top: 100px;
    }

    .works {
      display: none;
    }

    .worksdevice,
    .worksdevice a {
      display: block;
      font-size: 7vw;
      left: 15%;
      bottom: 25%;
    }

    .workdevicecont {
      display: block;
      display: flex;
      flex-direction: column;
      padding: 0 20vw;
      text-align: center;
    }

    .info {
      display: block;
      font-size: 28px;
      width: 60vw;
    }

    .work1device a {
      width: 100%;
    }

    .contact {
      display: none;
    }

    .maildevice {
      display: block;
      font-size: 28px;
    }

    .contactdevice,
    .contactdevice a {
      display: block;
      font-size: 7vw;
      left: 59%;
      bottom: 25%;
    }

    .contactdevicecont {
       display: flex;
       flex-direction: column;
       padding: 0 20vw 50px;
     }

     .contactdevicecont form {
       text-align: center;
       margin-top: 100px;
     }

     .formgroupdevice {
       font-size: 30px;
       margin-bottom: 30px;
       text-align: center;
     }

     .formgroupdevice input{
       width: 100%;
       height: 40px;
       font-size: 25px;
       overflow: visible;
     }

     .formgroupdevice textarea {
       width: 100%;
       height: 250px;
       font-size: 25px;
       overflow: visible;
       resize: none;
     }

    .buttondevice {
      font-size: 25px;
      width: 40vw;
      height:40px;
    }

    .buttondevice:active {
      color: white;
      background: slategrey;
    }

    .backhomecont {
      display: block;
    }

    .backhome {
      display: block;
    }

    .stop {
      display: block;
    }

  }

/*smartphone*/
@media screen and (max-width: 500px) {


@keyframes slideup {
  0%{
    transform: translateY(10vh);
  }
}

@keyframes slidedown {
  0%{
    transform: translateY(-10vh);
  }
}

  @keyframes slideleft {
    0%{
      transform: translateX(-10vw);
    }
  }

  @keyframes slideright {
    0%{
      transform: translateX(10vw);
    }
  }
    html, body {
      overflow-x: auto;
    }

     .wrap {
      display: block;
      background: url(https://ik.imagekit.io/7ol7k87qcca/white2_i5_GY7o3OgkpK.jpg) no-repeat center center fixed;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      animation: fadein 2s ease-out 0.5s forwards;
      overflow-y: scroll !important;
      -webkit-overflow-scrolling: touch;
    }

    .lineleft {
      top: 48%;
    }

    .lineright {
        bottom: 51%;
      }

    .linebottom {
        left: 49%;
      }

    .lineup {
        right: 49%;
      }

    .my_name {
      line-height: 55px;
      position: absolute;
      left: 56%;
      top: 48%;
      font-size: 16vw;
      animation: fadein 1s ease-out 2s forwards;
    }

    .socials {
      left: 50.5%;
      top: 30%;
      width: 25px;
    }

    .about {
      display: none;
    }

    .aboutdevice,
    .aboutdevice a {
      display: block;
      font-size: 11vw;
      left: 57%;
      top: 35%;
      animation: fadein 1s ease-out 2.5s forwards;
    }

    .aboutdevicecont {
      display: flex;
      flex-direction: column;
      padding: 0 30px ;
    }

    .abouttxtdevice {
      display: block;
      width: 100%;
    }

    .works {
      display: none;
    }

    .worksdevice,
    .worksdevice a {
      display: block;
      font-size: 11vw;
      left: 10%;
      bottom: 35%;
      animation: fadein 1s ease-out 3s forwards;
    }

    .workdevicecont {
      display: flex;
      flex-direction: column;
      padding: 0 30px;
      text-align: center;
    }

    .info {
      display: block;
      font-size: 18px;
      width: 60vw;
    }

    .work1device a {
      width: 100%;
    }

    .contact {
      display: none;
    }

    .maildevice {
      display: block;
      font-size: 18px;
    }

    .contactdevice,
    .contactdevice a {
      display: block;
      font-size: 11vw;
      left: 54%;
      bottom: 35%;
      animation: fadein 1s ease-out 3.5s forwards;
    }

   .contactdevicecont {
      display: flex;
      flex-direction: column;
      padding: 0 30px 50px;
    }

    .contactdevicecont form {
      text-align: center;
      margin-top: 50px;
    }

    .formgroupdevice {
      font-size: 30px;
      margin-bottom: 20px;
      text-align: center;
    }

    .formgroupdevice input{
      width: 100%;
      height: 40px;
      font-size: 25px;
      overflow: visible;
    }

    .formgroupdevice textarea {
      width: 100%;
      height: 250px;
      font-size: 25px;
      overflow: visible;
      resize: none;
    }

    .buttondevice {
      font-size: 25px;
      width: 40vw;
      height: 40px;
    }

}
