<!DOCTYPE html>
<html>
    <head>
        <title>Marco Falcone</title>
        <link rel="icon" href="static/images/favicon.ico" sizes="32x32">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="preload" href="style.css" as="style">
        <link rel="preload" href="main.js" as="script">
        <link type="text/css" rel="stylesheet" href="static/style.css">
    </head>
    <body>

      <div class="cont">
        <div class="background"></div>

        <div class="socials">
          <a href="https://www.instagram.com/markrius_/" target="_blank"><img class="insta" src="static/images/insta.png"></img></a>

          <a href="https://github.com/MarcoFalcone" target="_blank"><img class="git" src="static/images/git.png"></a>

          <a href="https://www.linkedin.com/in/marco-falcone-122938a7/" target="_blank"><img class="linkedin" src="static/images/linkedin.png"></a>
        </div>

        <div class="my_name">
          <p>Marco Falcone</p>
        </div>

        <div class="about">
          <p>About</p>
          <div class="abouttxt">
            <p>I've always been curious about coding but never thought of pursuing a career as a programmer up until
              recently when I discovered Python and fell in love with it/I'm currently self-learning
              full stack web development as well as Python and C programming and I'll be posting my future works
              on this website very soon/Thanks for passing by.
          </p>
          </div>
        </div>

        <div class="works">
          <p>Works</p>
          <div class="workscont">
            <div class="scrollmenu">
              <div class="work1">
                <a href="https://github.com/MarcoFalcone/Portfolio" target="_blank"><p>My personal responsive portfolio built from scratch using html/css and flask</p></a>
              </div>
            </div>
          </div>
        </div>

        <div class="contact">
          <p>Contact</p>
            <div class="mail"><p>mfalcone.dev@gmail.com</p></div>

            <form action="submit_form" method="post">
              <div class="formgroup">
                Name <input type="text" id="name" name="name" required>
              </div>

              <div class="formgroup">
                Email <input type="email" id="email" name="email" required>
              </div>

              <div class="formgroup">
                Message <textarea name="message" id="message" required></textarea>
              </div>

              <button class="button" type="submit">Submit</button>
            </form>



        </div>

              <div class="lineleft"></div>
              <div class="lineright"></div>
              <div class="linebottom"></div>
              <div class="lineup"></div>

            <!device>

            <div class="backgrounddevice"></div>

            <div class="homedevicecont" id="homedevicecont">
              <div class="stop"></div>
            </div>

            <div class="aboutdevicecont" id="aboutdevicecont">
              <img class="backhome" href="#homedevicecont" src="static/images/home.png">
              <div class="abouttxtdevice">
                <p>I've always been curious about coding but never thought of pursuing a career as a programmer up until
              recently when I discovered Python and fell in love with it/I'm currently self-learning
              full stack web development as well as Python and C programming and I'll be posting my future works
              on this website very soon/Thanks for passing by.
              </p>
              </div>
              <div class="stop"></div>
            </div>



            <div class="workdevicecont" id="workdevicecont">
              <img class="backhome" href="#homedevicecont" src="static/images/home.png">
                <div class="info"><p>Click on the projects to see the code!</p></div>
              <div class="work1device">
                <a href="https://github.com/MarcoFalcone/Portfolio" target="_blank">My personal responsive portfolio built from scratch using html/css and flask</a>
              </div>
              <div class="stop"></div>
            </div>


            <div class="contactdevicecont" id="contactdevicecont">
              <img class="backhome" href="#homedevicecont" src="static/images/home.png">
                <div class="maildevice"><p>mfalcone.dev@gmail.com</p></div>
              <form action="submit_form" method="post">
                <div class="formgroupdevice">
                  Name <input type="text" id="name" name="name" required>
                </div>

                <div class="formgroupdevice">
                  Email <input type="email" id="email" name="email" required>
                </div>

                <div class="formgroupdevice">
                  Message <textarea name="message" id="message" required></textarea>
                </div>

                <button class="buttondevice" type="submit">Submit</button>
              </form>


            </div>

            <div class="aboutdevice">
              <a href="#aboutdevicecont">About</a>
            </div>

            <div class="worksdevice">
              <a href="#workdevicecont">Works</a>
            </div>

            <div class="contactdevice">
              <a href="#contactdevicecont">Contact</a>
            </form>
          </div>



        </div>

          <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
          <script src="static/main.js"></script>
  </body>
</html>
