
<!DOCTYPE html>
<html>
    <head>
        <title>Marco Falcone</title>
        <link rel="apple-touch-icon" sizes="180x180" href="static/images/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicons/favicon-16x16.png">
        <link rel="manifest" href="static/images/favicons/site.webmanifest">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="preload" href="style.css" as="style">
        <link rel="preload" href="main.js" as="script">
        <link type="text/css" rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <div class="wrap"> <!--prevent lines to fade on desktop-->
          <div class="background"></div>

        <div class="socials">
          <a href="https://www.instagram.com/markrius_/" target="_blank"><img class="insta" src="https://ik.imagekit.io/7ol7k87qcca/Portfo/insta_bxttHL-Ce-K4.png?tr=h-100,w-100"></img></a>

          <a href="https://github.com/MarcoFalcone" target="_blank"><img class="git" src="https://ik.imagekit.io/7ol7k87qcca/Portfo/git_dkE9c-zr5USUB.png?tr=h-100,w-100"></a>

          <a href="https://www.linkedin.com/in/marco-falcone-122938a7/" target="_blank"><img class="linkedin" src="https://ik.imagekit.io/7ol7k87qcca/Portfo/linkedin_A9C1hsf1dWID3.png?tr=h-100,w-100"></a>
        </div>

        <div class="my_name">
          <p>Marco Falcone</p>
        </div>

        <div class="about">
          <p>About</p>
          <div class="abouttxt">
            <p>I've always been curious about coding but never thought of pursuing a career as a programmer up until
              recently when I discovered Python and fell in love with it/I'm currently self-learning
              full stack web development as well as Python and C programming and I'll be posting my future works
              on this website very soon/Thanks for passing by.
          </p>
          </div>
        </div>

        <div class="works">
          <p>Works</p>
          <div class="workscont">
            <div class="crosses">
              <div class="cross" onclick="currentSlide(1)"></div>
              <div class="cross" onclick="currentSlide(2)"></div>
              <div class="cross" onclick="currentSlide(3)"></div>
            </div>
            <div class="slideshow">
              <div class="work 1">
              <p>My personal portfolio (html-css-js-flask)<a class="codelink" href="https://github.com/MarcoFalcone/Portfolio" target="_blank">code</a></p>
              </div>

              <div class="work 2">
                <p>A website to showcase the 3d interior design and artwork made by InOktober digital studio (html-css-js-flask)<a class="codelink" href="https://github.com/MarcoFalcone/InOktober-digital-studio-website" target="_blank">code</a><a class="pagelink" href="https://markrius.eu.pythonanywhere.com" target="_blank">page</a></p>
                <a href="#lightbox"><video class="preview" src="https://ik.imagekit.io/7ol7k87qcca/Portfo/Desktop_2020.12.15_-_20.30.04.03_1HaBFWyeq.mp4" type="video/mp4" autoplay loop muted playsinline></video>
                </a>
              </div>


              <div class="work 3">
                <p>work in progress<a class="codelink" href="" target="_blank">code</a><a class="pagelink" href="" target="_blank">page</a></p>
              </div>

              <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
              <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>


          </div>
        </div>

        <div class="contact">
          <p>Contact</p>
            <div class="mail"><p>mfalcone.dev@gmail.com</p></div>

            <form action="submit_form" method="post">
              <div class="formgroup">
                Name <input type="text" id="name" name="name" required>
              </div>

              <div class="formgroup">
                Email <input type="email" id="email" name="email" required>
              </div>

              <div class="formgroup">
                Message <textarea name="message" id="message" required></textarea>
              </div>

              <button class="button" type="submit">Submit</button>
            </form>
          </div>

          <div class="lineleft"></div>
          <div class="lineright"></div>
          <div class="linebottom"></div>
          <div class="lineup"></div>

          <div class="lightbox-target" id="lightbox">
            <video class="preview-lightbox" src="https://ik.imagekit.io/7ol7k87qcca/Portfo/Desktop_2020.12.15_-_20.30.04.03_1HaBFWyeq.mp4" type="video/mp4" autoplay loop muted playsinline></video>
            <a class="lightbox-close" href="#"></a>
          </div>

            <!--device-->


            <div class="backhomecont"><img class="backhome" href="#homedevicecont" src="static/images/home.png"></div>

            <div class="homedevicecont" id="homedevicecont">
              <div class="stop"></div>
            </div>

            <div class="aboutdevicecont" id="aboutdevicecont">
              <div class="abouttxtdevice">
                <p>I've always been curious about coding but never thought of pursuing a career as a programmer up until
              recently when I discovered Python and fell in love with it/I'm currently self-learning
              full stack web development as well as Python and C programming and I'll be posting my future works
              on this website very soon/Thanks for passing by.
              </p>
              </div>
              <div class="stop"></div>
            </div>



            <div class="workdevicecont" id="workdevicecont">

                <div class="workdevice 1">
                <p>My personal portfolio (html-css-js-flask)<a href="https://github.com/MarcoFalcone/Portfolio" target="_blank">code</a></p>
                </div>

                <div class="workdevice 2">
                  <p>A website to showcase the 3d interior design and artwork made by InOktober digital studio (html-css-js-flask)<a href="https://github.com/MarcoFalcone/InOktober-digital-studio-website" target="_blank">code</a><a href="https://markrius.eu.pythonanywhere.com" target="_blank">project</a></p>
                </div>

                <div class="workdevice 3">
                  <p>work in progress<a href="https://github.com/MarcoFalcone/InOktober-digital-studio-website" target="_blank">code</a><a href="https://markrius.eu.pythonanywhere.com" target="_blank">project</a></p>
                </div>
              <div class="stop"></div>
            </div>


            <div class="contactdevicecont" id="contactdevicecont">

                <div class="maildevice"><p>mfalcone.dev@gmail.com</p></div>
              <form action="submit_form" method="post">
                <div class="formgroupdevice">
                  Name <input type="text" id="name" name="name" required>
                </div>

                <div class="formgroupdevice">
                  Email <input type="email" id="email" name="email" required>
                </div>

                <div class="formgroupdevice">
                  Message <textarea name="message" id="message" required></textarea>
                </div>

                <button class="buttondevice" type="submit">Submit</button>
              </form>
            </div>



            <div class="aboutdevice">
              <a href="#aboutdevicecont">About</a>
            </div>

            <div class="worksdevice">
              <a href="#workdevicecont">Works</a>
            </div>

            <div class="contactdevice">
              <a href="#contactdevicecont">Contact</a>
          </div>

        </div>

          <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
          <script src="static/main.js"></script>
  </body>
</html>
