<!DOCTYPE html>
<html>

<head>
  <title>Marco Falcone</title>
  <link rel="apple-touch-icon" sizes="180x180" href="static/images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="static/images/favicons/site.webmanifest">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="static/style.css">
</head>

<body>
  <div class="lds-roller">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="wrap" style="display: none">
    <!--wrap device sections-->

    <div class="background"></div>

    <div class="socials">
      <a href="https://github.com/MarcoFalcone" target="_blank"><img class="git" src="https://ik.imagekit.io/7ol7k87qcca/Portfo/git_dkE9c-zr5USUB.png?tr=h-40,w-40"></a>

      <a href="https://www.linkedin.com/in/marco-falcone-122938a7/" target="_blank"><img class="linkedin" src="https://ik.imagekit.io/7ol7k87qcca/Portfo/linkedin_A9C1hsf1dWID3.png?tr=h-40,w-40"></a>
    </div>

    <header class="my_name">Marco Falcone</header>

    <section class="about">
      <header>About</header>
      <main class="abouttxt">
        <p>I've always been curious about coding but never thought of pursuing a career as a programmer up until
          recently when I discovered Python and fell in love with it/I'm currently self-learning
          full stack web development as well as Python and C programming and I'll be posting my future works
          on this website very soon/Thanks for passing by.
        </p>
      </main>
    </section>

    <div class="works">
      <header>Works</header>
      <div class="workscont">
        <div class="crosses">
          <div class="cross" onclick="currentSlide(1)"></div>
          <div class="cross" onclick="currentSlide(2)"></div>
          <div class="cross" onclick="currentSlide(3)"></div>
          <div class="cross" onclick="currentSlide(4)"></div>
        </div>
        <div class="slideshow">
          <section class="work 1">
            <p>InOktober digital studio portfolio (html-css-js-flask)<a class="codelink" href="https://github.com/MarcoFalcone/InOktober-digital-studio-website" target="_blank">code</a><a class="pagelink" href="https://www.inoktober.studio"
                target="_blank">page</a></p>
            <video class="preview" src="https://ik.imagekit.io/7ol7k87qcca/Portfo/preview_v-m-4DZ3oR.m4v" type="video/mp4" autoplay loop muted playsinline></video>
          </section>

          <section class="work 2">
            <p>(Jacopo Testone portfolio)work in progress<a class="codelink" href="" target="">code</a><a class="pagelink" href="" target="">page</a></p>
          </section>


          <section class="work 3">
            <p>(Valerio Tirapani portfolio)work in progress<a class="codelink" href="" target="">code</a><a class="pagelink" href="" target="">page</a></p>
          </section>

          <section class="work 4">
            <p>My personal portfolio (html-css-js-flask)<a class="codelink" href="https://github.com/MarcoFalcone/Portfolio" target="_blank">code</a></p>
          </section>

          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
      </div>
    </div>

    <div class="contact">
      <header>Contact</header>
      <section class="cont">
        <p>Say Hi!</p>
        <a class="mail" href="mailto:mfalcone.dev@gmail.com">mfalcone.dev@gmail.com</a>
      </section>
    </div>

    <div class="lineleft"></div>
    <div class="lineright"></div>
    <div class="linebottom"></div>
    <div class="lineup"></div>

    <!--device-->

    <div class="backhomecont"><img class="backhome" href="#homedevicecont" src="https://ik.imagekit.io/7ol7k87qcca/Portfo/home_NPpk3wdvPc-_I.png"></div>

    <div class="homedevicecont" id="homedevicecont">
      <a class="aboutdevice" href="#aboutdevicecont">About</a>
      <a class="worksdevice" href="#workdevicecont">Works</a>
      <a class="contactdevice" href="#contactdevicecont">Contact</a>
      <div class="stop"></div>
    </div>

    <section class="aboutdevicecont" id="aboutdevicecont">
      <main class="abouttxtdevice">
        <p>I've always been curious about coding but never thought of pursuing a career as a programmer up until
          recently when I discovered Python and fell in love with it/I'm currently self-learning
          full stack web development as well as Python and C programming and I'll be posting my future works
          on this website very soon/Thanks for passing by.
        </p>
      </main>
      <div class="stop"></div>
    </section>

    <div class="workdevicecont" id="workdevicecont">

      <section class="workdevice 1">
        <p>InOktober digital studio portfolio (html-css-js-flask)<a href="https://github.com/MarcoFalcone/InOktober-digital-studio-website" target="_blank">code</a><a href="https://www.inoktober.studio" target="_blank">page</a></p>
        <video class="preview" src="https://ik.imagekit.io/7ol7k87qcca/Portfo/preview_v-m-4DZ3oR.m4v" type="video/mp4" autoplay loop muted playsinline></video>
      </section>


      <section class="workdevice 2">
        <p>(Jacopo Testone portfolio)work in progress<a href="" target="">code</a><a href="" target="">page</a></p>
      </section>

      <section class="workdevice 3">
        <p>(Valerio Tirapani portfolio)work in progress<a href="" target="">code</a><a href="" target="">page</a></p>
      </section>

      <section class="workdevice 4">
        <p>My personal portfolio (html-css-js-flask)<a href="https://github.com/MarcoFalcone/Portfolio" target="_blank">code</a></p>
      </section>
      <div class="stop"></div>
    </div>

    <div class="contactdevicecont" id="contactdevicecont">

      <section class="wrapmail">
        <p>Say Hi!</p>
        <a class="maildevice" href="mailto:mfalcone.dev@gmail.com">mfalcone.dev@gmail.com</a>
      </section>

    </div>

    <foter class="footer">&copy; 2020 | Marco Falcone</foter>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  <script src="static/main.js"></script>
</body>

</html>
