
<!DOCTYPE html>
<html>
    <head>
        <title>Marco Falcone</title>
        <link rel="apple-touch-icon" sizes="180x180" href="static/images/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicons/favicon-16x16.png">
        <link rel="manifest" href="static/images/favicons/site.webmanifest">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="static/style2.css">
    </head>
    <body>

          <div class="background"></div>

          <div class="text"><p class="thankyou">Thanks! I will get in touch with you shortly</p>
            <a href="/" class="backhome2" target="_self"><img class="backhome2" src="static/images/home2.png"></a>
          </div>


        </div>
  </body>
</html>
